.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 450px;
}

.area-kiri {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.content-kiri {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title{
    font-size: 38px;
    font-weight: bold;
}

.description {
    font-size: 16px;
    color: #6c757d;
}

.button-event {
    padding: 10px 30px;
    width: fit-content;
    background-color: var(--primary-yellow);
    border: none;
    border-radius: 16px;
    color: var(--dark-red);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    font-size: 14px;
    font-weight: bold;
    color: var(--dark-red);
}

.area-kanan {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.content-kanan {
    width: 450px;
    height: 450px;
    border-radius: 16px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageHero {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

/* section 2 */
.section-2 {
    min-height: 320px;
    height: auto;
    padding: 32px 0;
}

.area-content-sect-2{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
}

.section-description {
    font-size: 16px;
    color: #6c757d;
    text-align: center;
    max-width: 600px;
}

.content-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.card-promotion{
    width: 25%;
    height: 300px;
    border-radius: 16px;
}

.card-promotion.one{
    background-color: var(--primary-pink);
}

.card-promotion.two{
    background-color: var(--primary-yellow);
}

.card-promotion.three{
    background-color: var(--primary-green);
}


