.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    margin: 32px 0px;
}

.area-kiri {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.content-kiri {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    font-size: 38px;
    font-weight: bold;
}

.description {
    font-size: 16px;
    color: #6c757d;
}

.button-event {
    padding: 10px 30px;
    width: fit-content;
    background-color: var(--primary-yellow);
    border: 1.5px solid var(--outline-yellow);
    border-radius: 16px;
    color: var(--dark-red);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    font-size: 14px;
    font-weight: bold;
    color: var(--dark-red);
}

.area-kanan {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.content-kanan {
    width: 450px;
    height: 450px;
    border-radius: 16px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageHero {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

/* section 2 */
.section-2 {
    min-height: 320px;
    height: auto;
    padding: 32px 0;
}

.area-content-sect-2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
}

.section-description {
    font-size: 16px;
    color: #6c757d;
    text-align: center;
    max-width: 600px;
}

.content-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.area-header-card-promo{
    height: 100px;
    width: 100%;
    /* border: 1px black solid; */
}

.area-text-card{
    text-align: center;
}

.card-promotion {
    width: 25%;
    height: 300px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 24px;
}

.title-promo{
    font-weight: 700;
}

.desc-promo{
    font-weight: 400;
    font-size: 14px;
}

.card-promotion.one {
    background-color: var(--primary-pink);
    border: 1.5px solid var(--outline-pink);
}

.card-promotion.two {
    background-color: var(--primary-yellow);
    border: 1.5px solid var(--outline-yellow);
}

.card-promotion.three {
    background-color: var(--primary-green);
    border: 1.5px solid var(--outline-green);
}
/* ------------ */

/* section 3 */

.section-3 {
    margin: 64px 0px;
}

.area-content-step {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-step {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-step{
    margin-top: 34px;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
}

.step-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: fit-content;
    margin: 0 auto;
}


.step-line {
    position: absolute;
    top: 25px; 
    left: 5%;
    right: 5%;
    height: 2px;
    background-color: #111111; 
    z-index: 1;
    border-radius: 5px;
}

.step-item {
    position: relative;
    flex: 1;
    z-index: 2;
    padding: 0 10px;
    text-align: center;
}

.step-circle {
    width: 50px;
    height: 50px;
    background-color: var(--cream);
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    border: 2.5px solid #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 25px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); 
}

.area-desc{
    border: 1px rgb(187, 187, 187) solid;
    border-radius: 16px;
    padding: 25px 15px;
    background-color: #ffffff4b;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

.area-desc:hover{
    background-color: #ffffffa7;
}

.step-heading {
    font-size: 16px;
    color: #111111;
    margin: 0 0 8px 0;
    font-weight: 700;
}

.step-text {
    font-size: 14px;
    color: #666666;
    line-height: 1.4;
    margin: 0;
}

/* ------------ */
