.area-profile {
    display: flex;
    gap: 20px;
    flex-direction: row;
    height: fit-content;
    margin: 34px 0px;
}

.area-kiri-profile {
    width: 40%;
    height: fit-content;
    background: #fff;
    border-radius: 32px;
    padding: 30px;
}

.card-profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foto-profile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.foto {
    width: 140px;
    height: 140px;
    object-fit: cover;
    background-color: gainsboro;
    border-radius: 50%;
}

.area-name {
    margin-top: 10px;
}

.name {
    font-weight: 500;
}

.badge-role {
    font-size: 18px;
}

.info-singkat {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.info-singkat i {
    font-size: 32px;
}

.mail {
    color: red;
}

.phone {
    color: rgb(47, 255, 64);
}

.area-IS {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
}

.btn-edit {
    width: 100%;
    margin-top: 10px;
    padding: 10px 10px;
    text-align: center;
    background-color: var(--primary-yellow);
    border-radius: 16px;
    font-weight: 500;
    cursor: pointer;
}

.area-kanan-profile {
    width: 60%;
    height: 100%;
    background-color: white;
    border-radius: 32px;
    padding: 30px;
}

.card-statistik {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 25px;
}

.item-statistik {
    background: #fff;
    border-radius: 18px;
    border: 1px solid #ececec;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    transition: 0.3s;
}

.content-statistik {
    text-align: center;
    height: 100%;
    max-height: 73px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.item-statistik:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.area-icon-statistik i {
    font-size: 34px;
    color: #000000;
}

.area-icon-statistik.total {
    color: #4f46e5; /* Indigo */
}

.area-icon-statistik.diterima {
    color: #16a34a; /* Hijau */
}

.area-icon-statistik.menunggu {
    color: #f59e0b; /* Kuning */
}

.area-icon-statistik.ditolak {
    color: #dc2626; /* Merah */
}

.icon-statistik {
    width: 55px;
    height: 55px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 26px;
}

.content-statistik h3 {
    margin: 0;
    font-size: 26px;
    font-weight: 700;
}

.content-statistik span {
    color: #777;
    font-size: 14px;
}


.card-informasi{
    background: #fff;
    border-radius: 20px;
    padding: 28px;
    border: 1px solid #ececec;
}

.header-card{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 25px;
    gap: 15px;
}

.header-card h3{
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}

.area-title-header{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn-edit-2 {
    width: fit-content;
    padding: 10px;
    text-align: center;
    background-color: var(--primary-yellow);
    border-radius: 16px;
    font-weight: 500;
    cursor: pointer;
}

.btn-edit-2 i{
    font-size: 20px;
}

.content-informasi{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}

.item-info{
    display: flex;
    flex-direction: column;
}

.item-info label{
    color: #8d8d8d;
    font-size: 14px;
    margin-bottom: 6px;
    padding: 0px;
}

.item-info span{
    font-size: 16px;
    font-weight: 500;
    color: #2f2f2f;
}

.item-full{
    grid-column: span 2;
}

/* modal edit */
.area-input{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2px;
}

label{
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
}

.input-login, .input-control {
  width: auto;
  height: 40px;
  border: 1.2px solid #d0d0d6;
  border-radius: 8px;
  padding: 0px 10px;
  font-size: 14px;
  color: var(--dark-red);
}

.text-control {
  width: auto;
  border: 1.2px solid #d0d0d6;
  border-radius: 8px;
  padding: 10px 10px;
  font-size: 14px;
  color: var(--dark-red);
}

.input-login:focus {
  outline: none;
}

.input-login::placeholder {
  font-size: 14px;
  color: #979797;
}


