@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-yellow: #fad518;
    --dark-yellow: #846919;
    --primary-pink: #fc8fbc;
    --primary-green: #36b896;
    --dark-green: #29623e;
    --dark-red: #6a333d;
    --cream: #f7f1e4;
    --light-green: #80e895;
    --light-yellow: #efde68;
    --outline-pink: #ff4a96;
    --outline-yellow: #dcb800;
    --outline-green: #258c70; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--cream);
}

a{
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    position: sticky;
    top: 0;
    background-color: var(--cream);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.brand {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.brand-highlight {
    color: var(--dark-red);
    font-weight: 700;
}

.navbar-nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: var(--dark-red);
    font-size: 16px;
    font-weight: 400;
}

.nav-link:hover {
    color: #000;
    transition: 0.3s;
    text-decoration: underline;
}

/* .area-button-login{
    border: 2px solid #000;
    border-radius: 5px;
} */



.button-login {
    background-color: var(--primary-yellow);
    padding: 5px 30px;
    color: var(--dark-red);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 1.5px solid var(--outline-yellow);
    border-radius: 16px;
}


main{
    min-height: 78.5vh;
    height: auto;

}

footer {
    background-color: var(--dark-red);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
